@model IEnumerable<AllittaMMC.Models.Travel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/TallentAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Ui Form</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Nəqliyyat</h4>
                        <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
                        <ul id="dr-users" class="dropdown-content">
                            <li>
                                <a href="@Url.Action("Create","Travels")">Add New</a>
                            </li>
                        </ul>

                        <!-- Dropdown Structure -->

                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Adı</th>
                                        <th>Details</th>
                                        <th>Edit</th>
                                        <th>Delete</th>


                                    </tr>
                                </thead>
                                <tbody style="font-size:13px">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            

                                            <td>@item.Ticket</td>
                                            <td>
                                                <a href="@Url.Action("Details","Travels",new {id=item.ID })"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit","Travels",new {id=item.ID })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Delete","Travels",new {id=item.ID })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
