@model IEnumerable<AllittaMMC.Models.TourPacket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/TallentAdmin/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid sb2">
    <div class="row">

        <div class="sb2-2">
            <div class="sb2-2-2">
                <ul>
                    <li>
                       <a href="/Home/Index"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                   
                </ul>
            </div>
            <div class="sb2-2-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inn-sp">
                            <div class="inn-title">
                                <h4>Turlar</h4>



                                <!-- Dropdown Structure -->

                            </div>
                            <div class="inn-title">
                                <h4>Haqqımızda Duzeliş Et</h4>
                                <p>Haqqımızda</p>
                                <a class="dropdown-button drop-down-meta" href="#" data-activates="dr-users"><i class="material-icons">more_vert</i></a>
                                <ul id="dr-users" class="dropdown-content">
                                    <li>
                                        <a href="@Url.Action("Create","TourPackets")">Add New</a>
                                    </li>
                                </ul>

                                <!-- Dropdown Structure -->

                            </div>
                            <div class="tab-inn">
                                <div class="table-responsive table-desi">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Şəkil</th>
                                                <th>Tur Adı</th>
                                                <th>Tur Müddəti</th>
                                                <th>Otel Seviyyəsi</th>
                                                <th>Qiymət</th>
                                                <th>Tur Paketləri</th>
                                                <th>Tur Növləri</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr style="padding:0 !important">
                                                    <td>
                                                        <span class="list-img"><img src="~/Public/images/packages/@item.Image" alt=""></span>
                                                    </td>
                                                    <td>
                                                        <a href="#"><span class="list-enq-name">@item.TourName</span></a>
                                                    </td>
                                                    <td>@item.TourDay</td>
                                                    <td>@item.HotelStar</td>
                                                    <td>@item.Price</td>
                                                    <td>@item.Additional_Info.ID</td>


                                                    <td>@item.TourSort.SortBy</td>





                                                    <td>
                                                        <a href="@Url.Action("Details","TourPackets",new {id=item.ID })"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Edit","TourPackets",new {id=item.ID })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Delete","TourPackets",new {id=item.ID })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>

                                            }`
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

